<ion-content [fullscreen]="true">
  <ion-grid class="custom-grid">
    <ion-row class="first-row">
      <ion-col size="12">
      </ion-col>
    </ion-row>

    <ion-row class="second-row">
      <ion-col size="12">
        <h2 class="style-text-login">Crear Cuenta</h2>
        <p style="margin: 0; font-weight: 600;text-decoration: underline; color: black;">Credenciales</p>
        
        <ion-input label="Rut" label-placement="floating" fill="outline" placeholder="Enter rut" class="custom" color="medium" type="text"></ion-input>
        <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter email" class="custom" color="medium" type="email"></ion-input>
        <ion-input label="password" label-placement="floating" fill="outline" placeholder="Enter password" class="custom" color="medium" type="password"></ion-input>
        <ion-input label="Confirm password" label-placement="floating" fill="outline" placeholder="Confirm password" class="custom" color="medium" type="password"></ion-input>
        <ion-button expand="block" class="style-btn-login" (click)="Continuar_Registro()">Continuar</ion-button>
        <p class="style-btn-registrate">Ya tienes una cuenta?
          <ion-router-link routerLink="/login" class="style-login">
            Inicia Sesión!
          </ion-router-link>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
